<h1>User Info.</h1>
<div class='row'>
  <div class='col-xs-5'>
    <div class="panel panel-default">
    	<div class="panel-heading">
        <% if @user.image? %>
          <%= image_tag @user.image.url %>
        <% else %>
          <p>No Image</p>
        <% end %>
    	</div>
    	<div class="panel-body">
    		Name: <%= @user.name %>
    	</div>
    	<div class="panel-footer">
    		Email: <%= @user.email %>
    	</div>
    </div>
  </div>
  <div class="col-xs-7">

  </div>
</div>
