<% if logged_in? %>
<p>Login User: <%= current_user.name %></p>
<% else %>
  <div class="jumbotron">
  	<h1>iclone</h1>
  	<p>Please feel free to post your day!!</p>
  	<p><a class="btn btn-primary btn-lg" href="./signup" role="button">Sign up Now!!</a></p>
  </div>
<% end %>
