<ul class="media-list">
  <% posts.each do |post| %>
  	<li class="media">
  		<h4 class="media-left" style="color: blue;">
  			<%= post.user.name %>
  		</h4>
  		<div class="media-body">
  			<h4 class="media-heading"><%= post.title %></h4>
  			<%= post.content %>
  		</div>
      <div>
        <% if post.image? %>
        <%= image_tag post.image.url %>
        <% else %>
        <p>No Image</p>
        <% end %>
 </div>
  	</li>
  <% end %>
</ul>
